/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}
#sideRight > div.space-y-4.lg\:w-80.pt-4.lg\:pt-4 > section > div.justify-center.items-center.flex.py-6.dark\:text-gray-100.transform.duration-200.cursor-pointer > img {
    border-radius: 0px;
}

#sideRight > div.space-y-4.lg\:w-80.pt-4.lg\:pt-4 > section > div.justify-center.items-center.flex.py-6.dark\:text-gray-100.transform.duration-200.cursor-pointer > img:hover {
    transition: transform .2s;
    transform: scale(1.2);
    transition-duration: 150ms;
}

#blog-post-card {
    border-radius: 0px;
}

#sideRight > div.space-y-4.lg\:w-80.pt-4.lg\:pt-4 > section {
    border-radius: 0px;
}
